<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.mvc.java</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodcartServlet</display-name>
    <servlet-name>FoodcartServlet</servlet-name>
    <servlet-class>com.mvc.java.FoodcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodcartServlet</servlet-name>
    <url-pattern>/FoodcartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.mvc.java.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCaptchaServlet</display-name>
    <servlet-name>ValidateCaptchaServlet</servlet-name>
    <servlet-class>com.mvc.java.ValidateCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCaptchaServlet</servlet-name>
    <url-pattern>/ValidateCaptchaServlet</url-pattern>
  </servlet-mapping>
</web-app>